body{
    background-color: black;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: center; /* Centers the navbar horizontally */
    width: 100%; /* Ensures the container takes the full width */
}

.navbar {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    background-color: #99925D;
    position: fixed;
    top: 10px;

    width: 100%;
    z-index: 1000;
    border-radius: 20px;
    width: 500px;
}

.navbar button{
    background-color:#354146;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
}

.navbar a {
    color: #99925D; /* Sets the text color to white */
    text-decoration: none; /* Removes underline from links */
}

.map-container {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    overflow: hidden;
    position: center;
}

#pannable-image {
    width: 1000px;
    height: 100%;
    cursor: grab;
    transform-origin: top left;
}

/* Remove the filter effect by default */
.shrine path {
    transition: transform 0.2s, fill 0.2s, stroke 0.2s, filter 0.2s; /* Smooth transition for the changes */
    transform-origin: center; /* Ensure the scaling occurs from the center */
}

/* Apply the glow effect only to the path elements within the SVGs on hover */
.shrine svg:hover {
    transform: scale(1.1); /* Example of scaling the element */
    filter: url(#glow); /* Apply the glow filter */
}

/*classes to lock the icons into place*/

.map-container a {
    position: absolute;
}

#shrine-button {
    top: 100px; /* Adjust the position as needed */
    left: 200px; /* Adjust the position as needed */
}

#map-content {
    position: absolute;
    top: 0;
    left: 0;
}