body{
    background-color: black;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: center; /* Centers the navbar horizontally */
    width: 100%; /* Ensures the container takes the full width */
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    background-color: #99925D;
    width: 500px;
    border-radius: 20px;
}

.navbar button{
    background-color:#354146;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
}

.navbar a {
    color: #99925D; /* Sets the text color to white */
    text-decoration: none; /* Removes underline from links */
}

.map-container {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    overflow: hidden;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pannable-image {
    width: 1000px;
    height: 100%;
    cursor: grab;
    transform-origin: top left;
}

.shrine, .resHallIcon, .goatIcon, .diningIcon, .labIcon, .skullIcon {
    display: inline-block;
    width: 20px; 
    height: 20px; 
    padding: 0;
    margin: 0;
}

/* Using the glow filter */
#boynton svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#washburn svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#alden svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#rec svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#admissions svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#campusC svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#library svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#harrington svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#gs svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}
#unity svg:hover {
    transform: scale(1.1); 
    filter: url(#glow); 
}

/*classes to lock the icons into place*/
.map-container a {
    position: absolute;
    display: inline-block;
    width: auto; 
    height: auto; 
    padding: 0; 
    margin: 0; 
}

#resHall-button{
    top: 100px; 
    left: 200px; 
}

/* IDs to lock the positions of icons*/
#east{
    top: 475px; 
    left: 775px;
    width: 20px;
    height: 20px;
}

#morgan1{
    top: 560px; 
    left: 210px; 
    width: 20px;
    height: 20px;
}

#daniels{
    top: 570px; 
    left: 270px; 
    width: 20px;
    height: 20px;
}

#riley{
    top: 580px; 
    left: 370px; 
    width: 20px;
    height: 20px;
}

#messenger{
    top: 410px; 
    left: 375px; 
    width: 20px;
    height: 20px;
}

#institute{
    top: 705px; 
    left: 725px; 
    width: 20px;
    height: 20px;
}

#founders{
    top: 590px; 
    left: 755px; 
    width: 20px;
    height: 20px;
}

#ellsworth{
    top: 645px; 
    left: 200px; 
    width: 20px;
    height: 20px;
}

#fuller{
    top: 650px; 
    left: 300px; 
    width: 20px;
    height: 20px;
}

#stoddard{
    top: 635px; 
    left: 90px; 
    width: 20px;
    height: 20px;
}

#skull{
    top: 630px; 
    left: 655px; 
    width: 15px;
    height: 15px;
}

#proudGoat{
    top: 505px; 
    left: 355px; 
    width: 15px;
    height: 15px;
}

#chargingGoat{
    top: 325px; 
    left: 265px; 
    width: 15px;
    height: 15px;
}

#ak{
    top: 305px; 
    left: 575px; 
    width: 20px;
    height: 20px;
}

#higgins{
    top: 440px; 
    left: 450px;  
    width: 20px;
    height: 20px;
}

#fullerL{
    top: 335px; 
    left: 635px; 
    width: 20px;
    height: 20px;
}

#salisbury{
    top: 380px; 
    left: 575px; 
    width: 20px;
    height: 20px;
}

#kaven{
    top: 340px; 
    left: 690px; 
    width: 20px;
    height: 20px;
}

#olin{
    top: 325px; 
    left: 480px; 
    width: 20px;
    height: 20px;
}

#goddard{
    top: 235px; 
    left: 495px; 
    width: 20px;
    height: 20px;
}

#stratton{
    top: 475px; 
    left: 510px; 
    width: 20px;
    height: 20px;
}

#gs{
    top: 430px; 
    left: 520px; 
    width: 20px;
    height: 20px;
}

#rec{
    top: 460px; 
    left: 200px; 
    width: 20px;
    height: 20px;
}

#harrington{
    top: 400px; 
    left: 300px; 
    width: 20px;
    height: 20px;
}

#washburn{
    top: 460px; 
    left: 560px; 
    width: 20px;
    height: 20px;
}

#library{
    top: 440px; 
    left: 630px; 
    width: 20px;
    height: 20px;
}

#unity{
    top: 500px; 
    left: 650px; 
    width: 20px;
    height: 20px;
}

#boynton{
    top: 540px; 
    left: 550px; 
    width: 20px;
    height: 20px;
}

#admissions{
    top: 505px; 
    left: 380px; 
    width: 20px;
    height: 20px;
}

#alden{
    top: 565px; 
    left: 435px; 
    width: 20px;
    height: 20px;
}

#campusC{
    top: 365px; 
    left: 435px; 
    width: 20px;
    height: 20px;
}

#dunks{
    top: 330px; 
    left: 445px; 
    width: 20px;
    height: 20px;
}

#starbucks{
    top: 540px; 
    left: 740px;
    width: 20px;
    height: 20px;
}

#daka{
    top: 535px; 
    left: 190px; 
    width: 20px;
    height: 20px;
}

#goatHead{
    top: 555px; 
    left: 770px;
    width: 20px;
    height: 20px;
}

#map-content {
    position: absolute;
    top: 0;
    left: 0;
}