/* CSS styling for the About page*/
body{
    background-color: rgb(10, 17, 17);
}

.topbar{
    background-color: #354146;
    color:beige;
    padding: 10px;
    margin: 0px;
    
}

/* Text Rules */
p{
    color: aliceblue;
}

ul{
    color: aliceblue;
}

h2{
    color:aliceblue;
    text-decoration: underline;
}

.prog{
    width: 600px;
}
